:root {
  --branding-background-color: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --default-font: "Abel", sans-serif;
  --secondary-default-font: "Bebas Neue", sans-serif;
}
body {
  font-family: var(--default-font);
  background-color: azure;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
}
h2,
p {
  font-style: normal;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.main h2 {
  font-size: 24px;
  font-weight: normal;
}
.main {
  background: var(--branding-background-color);
  color: white;
  text-align: center;
  padding: 160px 20px;
}
.main p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.btn-dark {
  border: black solid 1.5px;
  background-color: rgb(194, 204, 204);
  color: black;
  padding: 15px 25px;
  line-height: 20px;
}
.btn-outline {
  border: #13547a solid 1.5px;
  background-color: #80d0c7;
  color: black;
  padding: 15px 25px;
  line-height: 20px;
}
.btn-outline:hover {
  background-color: #13547a;
  border: #80d0c7 solid 1.5px;
  color: white;
  transition: all 200ms ease-in-out;
}
.project-desc {
  padding: 120px 60px;
}
.img-outline {
  border-radius: 100px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .main {
    padding: 80px 20px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }
}
.content-container {
  padding: 160px 20px;
  text-align: center;
}
.content h1 {
  font-size: 64px;
  line-height: 1.5;
}
.content h2 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.content a {
  background-color: #1b8acb;
  color: white;
}
.content {
  margin: 50px;
}
.content-container img {
  max-width: 380px;
}
@media (max-width: 960px) {
  .content-container img {
    display: none;
  }
}
.content h3 {
  font-size: 30px;
  margin: 18px 0 0;
  line-height: 1.5;
  font-family: var(--secondary-default-font);
}
.content p {
  font-size: 14px;
}
